body {
    background-color: #fff;
    padding-top: 70px;
}

.container-buttons > a {
    float: right;
    text-decoration: none;
    border:none;
}

.button_text {
    display: inline-block;
    font-size: 15px;
    padding: 25px;
    color: #fff;
}

.button_text:hover {
    background-color: rgb(1, 110, 160);
    transition-duration: 0.4s;
    cursor: pointer;
    color: #fff;
}

.navbar {
    background: linear-gradient(to right, rgb(10, 10, 32),rgb(44, 44, 44));
    height: 73px;
    border-bottom: 2px rgb(1, 110, 160) solid;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 8px #000 ;
}
