body {
    background-color: #fff;
    padding-top: 60px;
}

.header-main {
    background: linear-gradient(to right, rgb(10, 10, 32),rgb(44, 44, 44));
    height: 61px;
    border-bottom: 2px rgba(1, 110, 160, 0.863) solid;
}
                                                                                    
.container-buttons > a {
    float: right;
    text-decoration: none;
    border:none;
}

.button_text {
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    color: #fff;
}

.button_text:hover {
    background-color: rgb(1, 110, 160);
    transition-duration: 0.4s;
    cursor: pointer;
    color: #fff;
}

