.information-container {
    height: 95vh;
    background-image: url(../images/informationBackground.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    font-weight: 100;
}

.container-content {
    width: 40%;
    margin-top: 40px;
    overflow: hidden;
    color: #fff;
    float: left;
    margin-left: 50px;
}

.container-content > h1 {
    margin-bottom: 55px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cccc;
}

.container-content  p {
    font-size: 20px;
    text-shadow: 3px 4px 2px #000;
    margin-top: 20px;
}
